{% extends 'base.jinja' %}

{% block title %} Url Shortner {% endblock %}

{% block main%}
    <form action="your-url" method="POST">            
        <label for="url">Website Url</label>
        <input type="url" name="url" value="" required/>
        <br/>
        <label for="code">Short name</label>
        <input type="text" name="code" value="" required/>
        <br/>
        <input type="submit" value="Shorted" />
    </form>

    <form action="your-url" method="POST" enctype="multipart/form-data">            
        <label for="file">File</label>
        <input type="file" name="file" value="" required/>
        <br/>
        <label for="code">Short name</label>
        <input type="text" name="code" value="" required/>
        <br/>
        <input type="submit" value="Shorted" />
    </form>

    {% if prev_codes%}
    <h2>Codes you have entered</h2>
    <ul>
        {% for message in prev_codes%}
           <li> <a href="{{url_for('get_shortned', code=message)}}">{{message}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock%}