{% extends 'base.jinja' %}

{% block title %} Url for {{code}} {% endblock %}

{% block main%}
    <p><a href="{{url_for('get_shortned', code=code)}}">{{code}}</a></p>
    <p><a href='{{url_for('home')}}'>Go Home</a></p>
{% endblock%}